apiVersion: apps/v1
kind: Deployment
metadata:
  name: chembl-webservices-py3-deployment
spec:
  selector:
    matchLabels:
      app: chembl-webservices-py3-server
      tier: backend
  replicas: 6
  template:
    metadata:
      labels:
        app: chembl-webservices-py3-server
        tier: backend
    spec:
      containers:
      - name: chembl-webservices-py3-container
        securityContext:
          runAsUser: <RUN_AS_UID>
          runAsGroup: <RUN_AS_GID>
        # TODO CHECK HOW TO MOUNT NFS FROM CHEMBL
        envFrom:
          - configMapRef:
              name: chembl-webservices-py3-cm
        image: <DOCKER_IMAGE>:<VERSION>
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
---
apiVersion: v1
kind: Service
metadata:
  name: chembl-webservices-py3-service
spec:
  selector:
    app: chembl-webservices-py3-server
  ports:
  - protocol: TCP
    port: 8000
    targetPort: 8000
  type: NodePort
