requests
unittest-parallel
defusedxml
django==2.2
django-compressor
django-tastypie
django-filters
django-haystack
cairocffi
lxml
numpy
mimeparse
raven
Pillow
pymongo
psycopg2
python-mimeparse==0.1.4
PyYAML
simplejson