defusedxml==0.6.0
django-compressor
django-cors-headers
django-filter
django-tastypie
django==2.2.18
elasticsearch>=7.0.0,<8.0.0
lxml
numpy
Pillow
psycopg2
pymongo
python-mimeparse==0.1.4
pytz
PyYAML
raven
requests
simplejson
unittest-parallel